# extensions
*.asv
*.m~
*.pyc

# general folders
*__pycache__
*.vs
*.mypy_cache

# specific matlab folders
/matlab_kokila/out

# specific python folders
/python/env

# specific files generated during debugging and testing
/python/src/out